<div class="container">
  <h1>Cập nhật sách</h1>
  <form (ngSubmit)="updateBook(id)">
    <table>
      <tr>
        <td>Title:</td>
        <td><input type="text" name="title" [(ngModel)]="book.title"></td>
      </tr>
      <tr>
        <td>Author:</td>
        <td><input type="text" name="author" [(ngModel)]="book.author"></td>
      </tr>
      <tr>
        <td>Description:</td>
        <td><textarea id="des" class="h-auto" cols="100" rows="10" name="description" [(ngModel)]="book.description"></textarea></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <button class="btn btn-success">Cập nhật</button> &nbsp;
          <a [routerLink]="['']"><button class="btn btn-warning">Thoát</button></a>
        </td>
      </tr>
    </table>
  </form>
  <p *ngIf="message != ''" class="text-success">{{message}}</p>
</div>
